@media screen and (max-width: 768px) {
  h1,
  h2 {
    text-align: center;
  }
  header {
    nav ul {
      justify-content: center;
    }
  }

  .book-item {
    // display: block;
    // img{
    //   display: none;
    // }
    display: flex;
    flex-direction: column-reverse;

    img {
      margin: 0.5rem auto;
      display: block;
    }
  }

  .section {
    &-details,
    &-favorites {
      padding: 5rem 1rem;
    }
  }
}
